In [2]:

from github import Github

g = Github("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")

# Github Enterprise with custom hostname
g = Github(base_url="https://{hostname}/api/v3", login_or_token="access_token")

from github.MainClass import Github
g = Github("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")

repo = g.get_repo("CSSEGISandData/COVID-19")
repo

file_list = repo.get_contents("csse_covid_19_data/csse_covid_19_daily_reports")

github_dir_path = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_daily_reports/'
file_path = github_dir_path  + str(file_list[-2]).split('/')[-1].split(".")[0]+ '.csv'

import pandas as pd
from urllib.error import HTTPError
df = pd.read_csv(file_path, error_bad_lines=False)
df

try:
    years = [2021]
    months = [month for month in range(11, 13)]
    days = [day for day in range(1, 31)]
    URL = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports'
    all_files = []
    for year in years:
        for month in months:
            month = str(month).zfill(2)
            for day in days:
                day = str(day).zfill(2)
                print(f"{month}-{day}-{year}.csv")
                df = pd.read_csv(URL + f"/{month}-{day}-{year}.csv")
                all_files.append(df)
            final_csv_file = pd.concat(all_files, axis=0, ignore_index=True)
except HTTPError:
    pass

C:\Users\mikem\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

11-01-2021.csv
11-02-2021.csv
11-03-2021.csv
11-04-2021.csv
11-05-2021.csv
11-06-2021.csv
11-07-2021.csv
11-08-2021.csv
11-09-2021.csv
11-10-2021.csv
11-11-2021.csv
11-12-2021.csv
11-13-2021.csv
11-14-2021.csv
11-15-2021.csv
11-16-2021.csv
11-17-2021.csv
11-18-2021.csv
11-19-2021.csv
11-20-2021.csv
11-21-2021.csv
11-22-2021.csv
11-23-2021.csv
11-24-2021.csv
11-25-2021.csv
11-26-2021.csv
11-27-2021.csv
11-28-2021.csv
11-29-2021.csv
11-30-2021.csv
12-01-2021.csv
12-02-2021.csv
12-03-2021.csv
12-04-2021.csv
12-05-2021.csv
12-06-2021.csv
12-07-2021.csv
12-08-2021.csv
12-09-2021.csv
12-10-2021.csv
12-11-2021.csv
12-12-2021.csv
12-13-2021.csv
12-14-2021.csv
12-15-2021.csv
12-16-2021.csv
12-17-2021.csv
12-18-2021.csv
12-19-2021.csv
12-20-2021.csv
12-21-2021.csv
12-22-2021.csv
12-23-2021.csv

In [10]:
final_csv_file.to_csv("Daily Cases.csv",index=False)
final_csv_file

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-11-02 04:22:03,33.939110,67.709953,156284,7281,NaN,NaN,Afghanistan,401.465863,4.658826
1,NaN,NaN,NaN,Albania,2021-11-02 04:22:03,41.153300,20.168300,185497,2931,NaN,NaN,Albania,6445.791924,1.580079
2,NaN,NaN,NaN,Algeria,2021-11-02 04:22:03,28.033900,1.659600,206566,5924,NaN,NaN,Algeria,471.062912,2.867849
3,NaN,NaN,NaN,Andorra,2021-11-02 04:22:03,42.506300,1.521800,15516,130,NaN,NaN,Andorra,20081.537566,0.837845
4,NaN,NaN,NaN,Angola,2021-11-02 04:22:03,-11.202700,17.873900,64458,1713,NaN,NaN,Angola,196.122054,2.657544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120175,NaN,NaN,NaN,Vietnam,2021-12-01 04:22:29,14.058324,108.277199,1238082,25252,NaN,NaN,Vietnam,1271.933453,2.039606
120176,NaN,NaN,NaN,West Bank and Gaza,2021-12-01 04:22:29,31.952200,35.233200,460053,4796,NaN,NaN,West Bank and Gaza,9018.143198,1.042489
120177,NaN,NaN,NaN,Yemen,2021-12-01 04:22:29,15.552727,48.516388,10004,1950,NaN,NaN,Yemen,33.541242,19.492203
120178,NaN,NaN,NaN,Zambia,2021-12-01 04:22:29,-13.133897,27.849332,210169,3667,NaN,NaN,Zambia,1143.219664,1.744786
120179,NaN,NaN,NaN,Zimbabwe,2021-12-01 04:22:29,-19.015438,29.154857,134625,4707,NaN,NaN,Zimbabwe,905.777173,3.496379

In [3]:
df = final_csv_file[final_csv_file['Country_Region'].isin(["Australia","US","United Kingdom","New Zealand","Italy","Israel", "Brazil", "South Africa", "Vietnam"])]
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
8,NaN,NaN,Australian Capital Territory,Australia,2021-11-02 04:22:03,-35.473500,149.012400,1788,13,NaN,NaN,"Australian Capital Territory, Australia",417.659425,0.727069
9,NaN,NaN,New South Wales,Australia,2021-11-02 04:22:03,-33.868800,151.209300,75578,576,NaN,NaN,"New South Wales, Australia",930.992855,0.762127
10,NaN,NaN,Northern Territory,Australia,2021-11-02 04:22:03,-12.463400,130.845600,225,0,NaN,NaN,"Northern Territory, Australia",91.612378,0.000000
11,NaN,NaN,Queensland,Australia,2021-11-02 04:22:03,-27.469800,153.025100,2090,7,NaN,NaN,"Queensland, Australia",40.856221,0.334928
12,NaN,NaN,South Australia,Australia,2021-11-02 04:22:03,-34.928500,138.600700,918,4,NaN,NaN,"South Australia, Australia",52.263023,0.435730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120167,NaN,NaN,Scotland,United Kingdom,2021-12-01 04:22:29,56.490700,-4.202600,727549,9572,NaN,NaN,"Scotland, United Kingdom",13317.024509,1.315650
120168,NaN,NaN,Turks and Caicos Islands,United Kingdom,2021-12-01 04:22:29,21.694000,-71.797900,3096,24,NaN,NaN,"Turks and Caicos Islands, United Kingdom",7996.280800,0.775194
120169,NaN,NaN,Unknown,United Kingdom,2021-12-01 04:22:29,NaN,NaN,0,0,NaN,NaN,"Unknown, United Kingdom",NaN,NaN
120170,NaN,NaN,Wales,United Kingdom,2021-12-01 04:22:29,52.130700,-3.783700,508932,6405,NaN,NaN,"Wales, United Kingdom",16215.255209,1.258518
120175,NaN,NaN,NaN,Vietnam,2021-12-01 04:22:29,14.058324,108.277199,1238082,25252,NaN,NaN,Vietnam,1271.933453,2.039606