In [22]:

from github import Github

g = Github("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")

# Github Enterprise with custom hostname
g = Github(base_url="https://{hostname}/api/v3", login_or_token="access_token")

from github.MainClass import Github
g = Github("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")

repo = g.get_repo("CSSEGISandData/COVID-19")
repo

#file_list = repo.get_contents("csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global")
#https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv
#github_dir_path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global/'
file_path = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"

#github_dir_path  + str(file_list[-2]).split('/')[-1].split(".")[0]+ '.csv'

import pandas as pd
from urllib.error import HTTPError
df1 = pd.read_csv(file_path, error_bad_lines=False)
df1

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/13/21,12/14/21,12/15/21,12/16/21,12/17/21,12/18/21,12/19/21,12/20/21,12/21/21,12/22/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,157648,157660,157665,157725,157734,157745,157787,157797,157816,157841
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,203925,204301,204627,204928,205224,205549,205777,205897,206273,206616
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,213058,213288,213533,213745,214044,214330,214592,214835,215145,215430
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,19440,20136,20136,20549,20549,20549,20549,21062,21062,21372
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,65404,65431,65565,65648,65760,65868,65938,66086,66566,67199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1428428,1443648,1459175,1493237,1508473,1524368,1540478,1555455,1571780,1588335
276,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,464341,464751,465094,465094,465094,465094,465094,466669,467058,467391
277,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,10072,10075,10081,10086,10092,10097,10101,10102,10103,10103
278,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,211234,211705,212278,213139,214433,215472,216508,217117,219023,221880
279,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,167140,172012,177690,182057,189567,189567,191673,195079,197768,199404

In [23]:
df = df1[df1['Country/Region'].isin(["Australia","US","United Kingdom","New Zealand","Italy","Israel", "Brazil", "South Africa", "Vietnam"])]
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/13/21,12/14/21,12/15/21,12/16/21,12/17/21,12/18/21,12/19/21,12/20/21,12/21/21,12/22/21
8,Australian Capital Territory,Australia,-35.473500,149.012400,0,0,0,0,0,0,...,2204,2210,2222,2242,2260,2278,2291,2307,2365,2450
9,New South Wales,Australia,-33.868800,151.209300,0,0,0,0,3,4,...,87248,88595,90333,92532,95000,97558,100040,103073,106810,112496
10,Northern Territory,Australia,-12.463400,130.845600,0,0,0,0,0,0,...,313,328,343,351,348,360,360,371,376,393
11,Queensland,Australia,-27.469800,153.025100,0,0,0,0,0,0,...,2180,2188,2210,2227,2258,2297,2356,2442,2613,2977
12,South Australia,Australia,-34.928500,138.600700,0,0,0,0,0,0,...,1020,1057,1081,1145,1143,1216,1401,1513,1554,1747
13,Tasmania,Australia,-42.882100,147.327200,0,0,0,0,0,0,...,240,240,241,243,244,247,250,254,266,292
14,Victoria,Australia,-37.813600,144.963100,0,0,0,0,1,1,...,138409,139804,141415,142907,144411,145570,146859,148089,149595,151577
15,Western Australia,Australia,-31.950500,115.860500,0,0,0,0,0,0,...,1124,1125,1125,1125,1125,1125,1125,1125,1126,1130
30,NaN,Brazil,-14.235000,-51.925300,0,0,0,0,0,0,...,22177059,22195775,22201221,22201221,22204941,22204941,22213762,22215856,22219477,22222928
152,NaN,Israel,31.046051,34.851612,0,0,0,0,0,0,...,1351015,1351776,1352403,1353281,1354001,1354697,1355491,1356847,1357967,1359167
153,NaN,Italy,41.871940,12.567380,0,0,0,0,0,0,...,5238221,5258886,5282076,5308180,5336795,5364852,5389155,5405360,5436143,5472469
198,Cook Islands,New Zealand,-21.236700,-159.777700,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
199,NaN,New Zealand,-40.900600,174.886000,0,0,0,0,0,0,...,13067,13143,13238,13317,13366,13425,13495,13531,13589,13648
235,NaN,South Africa,-30.559500,22.937500,0,0,0,0,0,0,...,3180785,3204642,3231031,3255816,3276529,3292609,3308074,3316585,3332008,3353106
255,NaN,US,40.000000,-100.000000,1,1,2,2,5,5,...,50133928,50249725,50393494,50534855,50727473,50801078,50874262,51129323,51307613,51545991
259,Anguilla,United Kingdom,18.220600,-63.068600,0,0,0,0,0,0,...,1523,1592,1592,1592,1592,1592,1592,1629,1629,1629
260,Bermuda,United Kingdom,32.307800,-64.750500,0,0,0,0,0,0,...,5764,5784,5784,5815,5815,5815,5815,5917,5917,5917
261,British Virgin Islands,United Kingdom,18.420700,-64.640000,0,0,0,0,0,0,...,2842,2842,2842,2886,2886,2886,2886,2886,2886,2886
262,Cayman Islands,United Kingdom,19.313300,-81.254600,0,0,0,0,0,0,...,7871,7960,8007,8036,8097,8097,8097,8097,8245,8245
263,Channel Islands,United Kingdom,49.372300,-2.364400,0,0,0,0,0,0,...,20327,20996,21221,21457,21667,21667,21667,22304,22580,22876
264,Falkland Islands (Malvinas),United Kingdom,-51.796300,-59.523600,0,0,0,0,0,0,...,83,83,83,83,83,83,83,83,83,83
265,Gibraltar,United Kingdom,36.140800,-5.353600,0,0,0,0,0,0,...,7546,7589,7629,7683,7730,7778,7822,7843,7902,7954
266,Isle of Man,United Kingdom,54.236100,-4.548100,0,0,0,0,0,0,...,12635,12731,12812,12895,12974,13037,13097,13154,13258,13364
267,Montserrat,United Kingdom,16.742498,-62.187366,0,0,0,0,0,0,...,44,44,44,44,44,44,44,45,45,45
268,"Saint Helena, Ascension and Tristan da Cunha",United Kingdom,-7.946700,-14.355900,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
269,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,3137,3141,3151,3151,3158,3163,3163,3172,3172,3178
270,NaN,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,...,10873468,10932545,11010286,11097851,11190354,11279428,11361387,11453121,11542143,11647473
275,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1428428,1443648,1459175,1493237,1508473,1524368,1540478,1555455,1571780,1588335

In [26]:
Daily_Cases= pd.DataFrame(df.groupby('Country/Region')['12/22/21'].agg('sum'))
Daily_Cases

                12/22/21
Country/Region
Australia         273062
Brazil          22222928
Israel           1359167
Italy            5472469
New Zealand        13650
South Africa     3353106
US              51545991
United Kingdom  11713654
Vietnam          1588335